/* Primary Colors */
/* P: #263238 | rgb(38, 50, 56)
Light: #4f5b62 | RGB(79, 91, 98)
Dark: #000a12 | RGB(0, 10, 18) */

 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'IBM Plex Serif', 'Roboto';
    scroll-behavior: smooth;
}

@media screen and (max-width: 900px) {

}

h1 {
    font-size: min(16vw, 192px);
    font-weight: 100;
    margin: 0;
    color: white;
    font-family: 'IBM Plex Sans';
    text-align: left;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: white;
    transition: font-weight .1s;
}

a:hover {
    font-weight: 100 !important;
}


header {
    margin: 0% auto 10%;
    padding-top: 5%;
    overflow: hidden;
    width: fit-content;
}

body {
    background: linear-gradient(#060021 10%, #020110 90%);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.navmenu {
    text-align: left;
    color: white;
    margin: auto;
    width: min(80ch, 75vw);
    margin-top: 5%;
    list-style-type: none;
}

.navmenu li a {
    display: block;
    font-size: min(24px, 4.25vw);
    font-weight: 300;
    padding-right: 25px;
}

.about-me {
    margin-bottom: 6%;
    color: white;
    overflow: hidden;
    margin: auto;
    width: min(80ch, 75vw);
    max-width: 80ch;
}

.about-me p {
    font-weight: 300;
    font-size: min(22px, 4vw);
}

h2 {
    font-size: min(96px, 8vw);
    font-weight: 100;
    margin: 0;
    margin-bottom: 25px;
}

.project-list {
    height: auto;
    width: min(80ch, 75vw);
    max-width: 80ch;
    color: white;
    margin: auto;
    margin-top: 5%;
}

.project {
    width: inherit;
    margin-bottom: 3%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.project-image {
    float: right;
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
}

.project-image img {
    width: fit-content;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin-top:auto;
}

.project-info {
    float: left;
    flex-shrink: 0;
    height: auto;
    width: inherit;
}

.project-info h3 {
    font-weight: 200;
    font-size: min(3.5rem, 6vw);
    margin: 0;
    margin-bottom: 1%;
    user-select: none;
    cursor: pointer;
    font-style: italic;
    transition: color .3s;
}

.project-info h3:hover {
    color: #5f5f5f;
}

.project-info p {
    margin: 0;
    font-size: min(22px, 4vw);
    font-weight: 300;
    float: left;
    margin-bottom: 24px;
    line-height: 1.875rem;
    width: inherit;
    max-width: 80ch;
}

.project-expand {
    max-height: 800px;
    width: 100%;
    transition: max-height 0.75s;
    transition-timing-function: cubic-bezier(0.25, 0.1, .5, .7);
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0;
    font-weight: 300;
    font-size: min(22px, 4vw);
    overflow-y: hidden;
}

.project-expand.closed {
    max-height: 0px;
}

.project-expand img {
    width: 75vw;
    max-width: 800px;
}

.project-expand p {
    margin-bottom: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    height: fit-content;
    margin: 24px 0;
}

.tag {
    border: white solid 1px;
    border-radius: 25px;
    height: 40px;
    margin-right: 15px;
    min-width: 70px;
    margin-bottom: 10px;
}

.tag p {
    margin: 0;
    font-size: min(1.25rem, 3.5vw);
    font-weight: 200;
    color: white;
    padding: 8px 15px 12px;
    line-height: 20px;
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0;
    font-size: 60px !important;
    float: left;
    position: relative;
    transition: color 0.2s, transform .75s;
    transform: rotateX(0deg);
    cursor: pointer;
    user-select: none;
    margin-right: 100%;
    margin-left: -15px;
}

.material-symbols-outlined:hover {
    color: #5f5f5f;
}

.resume {
    margin: auto;
    margin-top: 5%;
    color: white;
    width: min(80ch, 75vw);
}

.resume p {
    margin: 0;
    margin-right: 5%;
    font-size: min(20px, 4vw);
    font-weight: 300;
}

.resume a {
    font-weight: 200;
    font-size: min(1.75rem, 4.5vw);
}

.contact {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
    overflow: hidden;
    width: min(80ch, 75vw);
}

.contact a {
    font-size: min(2rem, 6vw);
    font-weight: 200;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    width: min(80ch, 75vw);
    margin: auto;
    padding-bottom: 5%;
}

footer p {
    color: white;
    font-size: 18px;
    font-weight: 200;
}