/* Primary Colors */
/* P: #263238 | rgb(38, 50, 56)
Light: #4f5b62 | RGB(79, 91, 98)
Dark: #000a12 | RGB(0, 10, 18) */

 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'Roboto';
}

h1 {
    font-size: 12rem;
    font-weight: 100;
    margin: 5% -10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-style: italic;
}

#page_header:hover {
    margin-left: 0;
}

header {
    background-color: #000a12;
    padding: 5% 0%;
    margin-left: 10%;
    overflow: hidden;
}

body {
    background-color: #000a12;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navmenu {
    list-style-type: none;
    padding-left: 10%;
    text-align: left;
    width: auto;
    background-color: #000a12;
    color: white;
    display: block;
    transition: all .5s;
    position: sticky;
    top: -1px;
}

.navmenu.sticky {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid white;
}

.navmenu li a {
    margin-right: 30px;
    font-size: 1.75rem;
    font-weight: 400;
    padding-bottom: 5px;
    font-family: 'IBM Plex Serif' !important;
}

.about-me {
    padding: 5% 10%;
    color: white;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.25rem;
}

.about-me h2 {
    font-size: 6rem;
    font-weight: 100;
    margin: 0;
}

.project-list {
    width: 100%;
    height: auto;
    color: white;
    padding: 0% 10%;
}

.project-list h2 {
    font-size: 6rem;
    font-weight: 100;
    margin: 0;
    margin-bottom: 2rem;
}

.project {
    width: auto;
    margin-bottom: 5%;
    height: auto;
    overflow: hidden;
}

.project-image {
    height: auto;
    width: 30%;
    float: right;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    float: right;
}

.project-info {
    float: left;
    width: 65%;
    font-size: 1.25rem;
    margin-right: 5%;
    font-weight: 300;
}

.project-info h3 {
    font-weight: 100;
    font-size: 4rem;
    margin: 0;
    width: fit-content;
    user-select: none;
}

.project-info h3:hover {
    font-style: italic;
    cursor: pointer;
}

.project-expand {
    width: 100%;
    height: 0px;
    transition: height .5s;
    outline: white solid 1px;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0;
    font-size: 60px !important;
    float: left;
    position: relative;
    left: -15px;
    transition: color 0.2s, transform .5s;
    transform: rotateX(0deg);
    display: inline;
    cursor: pointer;
    user-select: none;
}

.material-symbols-outlined:hover {
    color: #4f5b62;
}